@import "../fonts/iconfont/material-icons.css";

@font-face
{
	font-family: ubuntu;
	src: url(../fonts/ubuntu/Ubuntu-Regular.ttf);
}

*{font-size: 1em;}

/*Menu de navegação*/
.nav
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 55px;
	background-color: #0091EA;
}
.nav > div:first-child
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10%;
	height: 100%;
	/*background-color: orange;*/
}
.nav > div:last-child
{
	padding-right:10%;
	box-sizing: border-box;
	font-size: 1rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 100%;
	/*background-color: red;*/
}