.select-dropdown
{
	font-size: 0.8rem !important;
	text-overflow: ellipsis;
}
.main{
  width: 100%;
  height: 98vh;
  background-color:#fff;
}

.collection
{
  box-shadow: 0 2px 4px rgba(0,0,0,.10), 0 4px 6px rgba(0,0,0,.10);
}

.texto{
  text-align: center;
  font-size: 25px;
  font-family: sans-serif;
  font-weight: bold;
  margin-top: 2vh;
}

.card-panel
{
  height: 80px;
  margin-top:10px !important;
  margin-bottom: 0px !important;
}

.classificacao
{

}

.dados-principais
{
  color: #000;
  font-family: ubuntu;
}
.dados-principais > p
{
  margin: 0;
}

.dados-principais.maior-gasto > div 
{
  width: 80%;
  height: 2px;
  background-color: #D50000;
  background-image: linear-gradient(to right, #fff 0%, #D50000 100%);
}
.dados-principais.maior-gasto > p:last-child
{
  color: #D50000;
}

.dados-principais.menor-gasto > div 
{
  width: 80%;
  height: 2px;
  background-color: #00C853;
  background-image: linear-gradient(to right, #fff 0%, #00C853 100%);
}
.dados-principais.menor-gasto > p:last-child
{
  color: #00C853;
}

.classificacao
{
  color: #000;
}

#valor
{
  font-size: .8rem;
}

.percentual{
  width: 70%;
  height: 5PX;
  background-color: green;
}

.badge{
  font-size: 5rem;
}

.barra{
  width: 3px;
  height: 100px;
  background-color: #01A9DB;
  float: left;
  margin-right: 10px;
}
