/*CSS*/
.nav
{
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 55px;
	background-color: #0091EA;
}
.nav > div:first-child
{
	display: flex;
	align-items: center;
	justify-content: center;
	width: 10%;
	height: 100%;
	/*background-color: orange;*/
}
.nav > div:last-child
{
	font-size: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 90%;
	height: 100%;
	/*background-color: red;*/
}
